# Data Science Tools and Ecosystem

## Author
Juan

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Table of Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

Data Science Tools |
----------------- |
Apache Hadoop |
Apache Spark |
Apache Flink |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335